[submodule "wp-content/themes/kma-slim/vendor/kerigansolutions/fb-autoblog-wp"]
    path = wp-content/themes/kma-slim/vendor/kerigansolutions/fb-autoblog-wp
    url = https://github.com/keriganmarketing/wickedwheel.git
