# IDE/OS
.idea/
.vscode/
.DS_Store
tags
.user.ini

# ERRORS AND CACHE
**/error_log
**/cache

# CONFIG & PACKAGES
wp-config.php
wp-content/themes/kma-slim/vendor/
wp-content/themes/kma-slim/node_modules/

# WP CONTENT
wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/kma-*/
wp-content/upgrade/*
wp-content/uploads/*
wp-content/wflogs/*
wp-contend/themes/twenty**

# WP CORE
wp-admin/*
wp-includes/*
index.php
license.txt
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
wordfence-waf.php
xmlrpc.php
readme.*

# MISC
bannerads
dbs