.font-black {
  font-weight: $weight-black;
}

.is-justified {
  justify-content: center;
}

.is-rounded {
  border-radius: 2rem;
}

.is-aligned {
  align-items: center;
}

.is-transparent {
  background-color: transparent;
}

.is-first {
  order: 1;
}

.is-second {
  order: 2;
}

.is-third {
  order: 3;
}

.is-first-tablet {
  @media screen and (min-width: $tablet) {
    order: 1;
  }
}

.is-second-tablet {
  @media screen and (min-width: $tablet) {
    order: 2;
  }
}

.is-third-tablet {
  @media screen and (min-width: $tablet) {
    order: 3;
  }
}

.is-first-desktop {
  @media screen and (min-width: $desktop) {
    order: 1;
  }
}

.is-second-desktop {
  @media screen and (min-width: $desktop) {
    order: 2;
  }
}

.is-third-desktop {
  @media screen and (min-width: $desktop) {
    order: 3;
  }
}

.is-first-widescreen {
  @media screen and (min-width: $widescreen) {
    order: 1;
  }
}

.is-second-widescreen {
  @media screen and (min-width: $widescreen) {
    order: 2;
  }
}

.is-third-widescreen {
  @media screen and (min-width: $widescreen) {
    order: 3;
  }
}

.is-centered {
  .image {
    justify-self: center;
    text-align: center;
    display: inline-block;
    overflow: hidden;
  }
}

@media screen and (min-width: $desktop) {
  .has-text-centered-desktop {
    text-align: center;
  }
  .has-text-left-desktop {
    text-align: left;
  }
  .has-text-right-desktop {
    text-align: right;
  }
}

.tablet-show {
  display: none;
}

@media screen and (max-width: $tablet) {
  .tablet-hide {
    display: none;
  }
  .tablet-show {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .mobile-hide {
    display: none;
  }
}

.title.is-info {
  color: $info;
}
.title.is-primary {
  color: $primary;
}
span.is-info {
  color: $info;
}
span.is-primary {
  color: $primary;
}

.button.is-primary {
  color: #FFF;
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
  background: rgb(221,191,96);
  background: -moz-linear-gradient(139deg, rgba(221,191,96,1) 0%, rgba(171,151,85,1) 100%);
  background: -webkit-linear-gradient(139deg, rgba(221,191,96,1) 0%, rgba(171,151,85,1) 100%);
  background: linear-gradient(139deg, rgba(221,191,96,1) 0%, rgba(171,151,85,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddbf60",endColorstr="#ab9755",GradientType=1);
  box-shadow: inset 0 -3px 0 rgb(0 0 0 / 25%);
  border: none;

  &:hover, &:focus {
    color: #FFF;
    background: rgb(190,164,84);
    background: -moz-linear-gradient(139deg, rgba(190,164,84,1) 0%, rgba(140,124,71,1) 100%);
    background: -webkit-linear-gradient(139deg, rgba(190,164,84,1) 0%, rgba(140,124,71,1) 100%);
    background: linear-gradient(139deg, rgba(190,164,84,1) 0%, rgba(140,124,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bea454",endColorstr="#8c7c47",GradientType=1);
  }
}
